/* Color Theme Swatches in Hex */
*{
    margin: 0;
    padding: 0;
}

html{
--zielony1: #29D955;
--zielony2: #67BF5A;
--zielony3: #5EA653;
--bialy: #F2F2F2;
--bialawy: #cfcfcf;
--szarawy: #A2A2A2;
--szary: #595959; 
background-color: var(--bialy);
height: 100%;
}



body{
    display: flex;
    height: 100%;
}
.lewa{
    width: 49.75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.przedzial{
    margin-left: 0.25%;
    margin-right: 0.25%;
    width: 1px;
    background-color: black;
}
.prawa{
    width: 49.75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#inputText{
    background-color: var(--bialy);
    border-style:none;
    border-radius: 3px;
    filter: drop-shadow(0px 0px 2px #000000);
    width: 180px;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 45px;
    padding-left: 10px;
}
#inputText:focus{
    background-color: var(--bialy);
    border-style:none;
    border-radius: 3px;
    outline: none;
    filter: drop-shadow(0px 0px 2px #000000);
    width: 180px;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 45px;
    padding-left: 10px;
}
#przycisk{
    background-color: var(--zielony3);
    border-style:none;
    border-radius: 3px;
    filter: drop-shadow(0px 0px 2px #000000);
    width: 300px;
    height: 50px;
}

.kamerka {
    width: 400px; 
    height: 400px; 
    background-color: black;
    margin-top: -80px;
}

.zdjecie {
    max-height: 300px;
    max-width: 300px;
    width: 300px; 
    height: 300px; 
    box-shadow: 0px 0px 7px 1px #00000099;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
}

.informacje {
    background-color: var(--bialy);
    box-shadow: 0px 0px 7px 1px #00000099;
    width: 350px; 
    height: 400px;
    margin-right: 30px;
}

.komentarze {
    background-color: var(--bialy);
    box-shadow: 0px 0px 7px 1px #00000099;
    width: 680px;
    height: 300px;
}

.tekstInf {
    margin: 30px;
}

.tekstInf > p {
    margin-bottom: 6px;
    font-family: 'Source Sans Pro', sans-serif;
}